@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=MonteCarlo&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}
body {
    font-family: "Inter", sans-serif;
    /* font-family: "MonteCarlo", cursive; */
}

/* nav container start */
.nav-bar{
    width: 90%;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-options{
    width: 26rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 2.5rem;
    padding: 0.3rem; 
}
.nav-options ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 1rem;
}
.nav-options ul>li{
    list-style: none;
    color: white;
    font-weight: 400;
}
.fitness{
    color: rgb(230, 83, 60);
    font-size: 2rem;
    font-weight: 600;
}
.home-btn{
    padding: 0.5rem 1.25rem;
    border-radius: 3rem;
    background: rgb(230, 83, 60);
    font-weight: 600;
}
.hum-burger{
    display: none;
}

/* nav container End */
